//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
.back-btn-red {
  background-color: #b10f1e;
  border-color: #b10f1e;
  color: white;

}


.ref-error{
    color:#b10f1e;
}


.govuk-breadcrumbs--inverse{
  background-color: #FFFF;
  color: #1D70B8;  
}


.govuk-breadcrumbs--inverse .govuk-breadcrumbs__link:link{
  color: black;
}


