//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
.back-btn-red {
  background-color: #d4351c;
  border-color: #d4351c;
  color: white;

}


.ref-error{
    color:red;
}




