
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Your visa application is being reviewed",
        html: "Your reference number<br><strong>HDJ2123F</strong>"
      }) }}

      <p>
        Please keep a look out in your email for an update.
      </p>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
        You should receive an email confirming or rejecting your visa application.
      </p>

     
      <p>
        <a href="#">
          What did you think of this service?
        </a> (takes 30 seconds)
      </p>

      {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Choose another service",
  classes: "govuk-button--secondary",
  href: "/services.html"
}) }}


    </div>
  </div>

{% endblock %}
