{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

<!--{% endblock %}-->

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        { href: "/privacy", text: "pp policy" },
        { href: "/manage-prototype", text: "pp your prototype" },
        { href: "/manage-prototype/clear-data", text: "pp data" }
      ],
      visuallyHiddenTitle: "Footer links"
    }
  }) }}
{% endblock %}
