{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "/services.html"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l ref-error">
        Page not found
      </h1>

      <p>
        You can return to the <a href="/services.html">services</a> page to try again.
      </p>

      <p>
        <a href="/path/of/page">Get help or contact us</a>.
      </p>

    </div>
  </div>


  
{% endblock %}

{% block govukFooter %}
 {{ govukFooter({
   meta: {
     items: [
       {
         href: "#",
         text: "Privacy policy"
       },
       {
         href: "#",
         text: "Manage your settings"
       },
       {
         href: "#",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}