{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What service would you like to access?
      </h1>

      <form class="form" action="/visa-email.html" method="post">

        <p>
          Select the service from the options below 
        </p>

        <div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Choose one option
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="visa">Track my visa application</option>
    <option value="passport" selected>Track my passport application</option>
    <option value="HMLR">Track HM Land registry applications</option>
    <option value="driving">Track driving licence applications</option>
  </select>
</div>



        {{ govukButton({
          text: "Continue",
          href: "/visa-email.html"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
