{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Heading or question goes here
      </h1>

      <form class="form" action="/path/of/next/page" method="post">

        <p>
          Which service would you like to access?
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
          
        </p>

        <ul class="govuk-list govuk-list--bullet">
        <a href="/track-my-application/app/views/visa.html"></a><li>Track visa applications</li>
        <li>Track passport applications</li>
        <li>Track HM Land registry applications</li>
        <li>Track driving license applications</li>
      </ul>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
