{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


<!--nav bar-->

{% block containerStart %}


{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  classes: "govuk-breadcrumbs--inverse",
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Tracking applications",
      href: "#"
    },
    {
      text: "Email confirmation",
      href: "#"
    },
    {
      text: "Submission date",
      href: "#"
    },
    {
      text: "Reference",
      href: "#"
    }
  ]
}) }}


<!--nav bar end-->


  {{ govukBackLink({
    classes: "back-btn",
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}





  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Tracking my visa application
      </h1>

      <form class="form" action="visa-name-verify.html" onSubmit="myFunction(event)">
<!--<form class="form" action="/confirm-visa.html" method="post">-->
  
<p>What is your application reference number?</p>
<div class="govuk-form-group">
  <input class="govuk-input" id="event-name" name="eventName" type="text">
  <br>
   <div id="visa-ref-hint" class="govuk-hint">
      For example 133058912349
    </div>
    
</div>





<p id="ref-error" class="ref-error"></p>


<script>
function myFunction(event) {
  let x = document.getElementById("event-name").value;
  let y = x.length;

  if (isNaN(x) || y !== 12) {
    event.preventDefault();   // STOP page changing
    document.getElementById("ref-error").innerHTML = "Error - Please enter 12 numbers";
    return false;
  }
return true;

}

</script>






        {{ govukButton({
  text: "Continue",
  onClick: "myFunction(event)"

}) }}



      </form>

      
  <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Other services
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Update my details
              </a>
            </li>
            <li>
              <a href="#">
                Get help
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}

{% block govukFooter %}
 {{ govukFooter({
   meta: {
     items: [
       {
         href: "#",
         text: "Privacy policy"
       },
       {
         href: "#",
         text: "Manage your settings"
       },
       {
         href: "#",
         text: "Change language"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}