{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Tracking my visa application
      </h1>

      <form class="form" method="post">

      <p>What is your last name?</p>
<div class="govuk-form-group">
  <input class="govuk-input" id="event-name" name="eventName" type="text">
  <br>
   <div id="last-name-hint" class="govuk-hint">
      Ensure it is the name on your passport
    </div>
    
</div>

        {{ govukButton({
          text: "Continue",
          href: "/confirmation.html"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
